@import '~antd/dist/antd.css';

.NavLink-active{
    color:red;
}
.collapsed_t {
    margin-left: 80px;
}

.collapsed_f {
    margin-left: 200px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 480px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}
.ant-carousel .slick-slide h3 {
        color: #fff;
}

.face {
    float:right;
    background-color: #fff;
    line-height: 64px;
    padding-left: 50px;
    padding-right: 50px;
}

.NavLink-text {
    margin-left: 10px;
    display: inline-block;
}

.login-form {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}
