@import '~antd/dist/antd.css';

.collapsed_t {
    margin-left: 80px;
}

.collapsed_f {
    margin-left: 200px;
}

.face {
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    display: block;
}

.Link-face-text {
    margin-left: 10px;
    display: inline-block;
}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}