@import '~antd/dist/antd.css';

.collapsed_false_face{
    display: inline-block;
}
.collapsed_false_face button{
    margin-left: 10px;
    display: inline;
}

.collapsed_true_face{
    display: inline-block;
    overflow: hidden;
    /* display: none; */
}
.collapsed_true_face span{
    display: none;
}
.collapsed_true_face button{
    display: none;
}
.face:hover .collapsed_true_face button{
    display: inline-block;
    overflow: hidden;
}

.collapsed_t {
    margin-left: 80px;
}

.collapsed_f {
    margin-left: 200px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 480px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}
.ant-carousel .slick-slide h3 {
        color: #fff;
}

.face {
    background-color: #364d79;
    text-align: center;
    line-height: 48px;
    color: #fff;
    overflow: hidden;
}


.NavLink-text {
    margin-left: 10px;
    display: inline-block;
}

.login-form {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.card{
    display: block;
    position: relative;
    /* z-index: ; */
}

.p_text{
    display: none;
    position: absolute;
    color: #fff;
    top:0;
    left:0;
}

.card:hover .p_text{
    display: block;
    color: #fff;
    filter:alpha(Opacity=80);
    -moz-opacity:0.5;
    opacity: 0.4;
}
.ant-back-top {
    bottom: 100px;
    right:0 ;
    position: 'fixed';
}
.ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    color: rgb(16, 25, 54);
    text-align: center;
    font-size: 20px;
}