/* @import '~antd/dist/antd.css'; */

.collapsed_false_face {
    display: inline-block;
}

.collapsed_false_face button {
    margin-left: 10px;
    display: inline;
}

.collapsed_true_face {
    display: inline-block;
    overflow: hidden;
    /* display: none; */
}

.collapsed_true_face span {
    display: none;
}

.collapsed_true_face button {
    display: none;
}

.face:hover .collapsed_true_face button {
    display: inline-block;
    overflow: hidden;
}

.collapsed_t {
    margin-left: 80px;
}

.collapsed_f {
    margin-left: 200px;
}

.face {
    background-color: #9ab2df;
    text-align: center;
    line-height: 48px;
    color: #fff;
    overflow: hidden;
}

.NavLink-text {
    margin-left: 10px;
    display: inline-block;
}

.login-form {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.card {
    display: block;
    position: relative;
    /* z-index: ; */
}

.p_text {
    display: none;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
}

.card:hover .p_text {
    display: block;
    color: #fff;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.5;
    opacity: 0.4;
}

.ant-back-top {
    bottom: 100px;
    right: 0;
    position: 'fixed';
}

.ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    color: rgb(16, 25, 54);
    text-align: center;
    font-size: 20px;
}

.search-ol {
    background-color: rgb(241, 240, 240);
}

.search-ol li {
    display: block;
    margin-bottom: 2px;
    height: 30px;
}

.search-ol a {
    line-height: 16px;
    color: #000;
}

.search-ol li:hover {
    background-color: #ccc;
}

.comment-list {
    text-align: left;
    margin: 10px 10px 10px 10px;
    padding-left: 10px;
    color: #000;
    background-color: rgba(238, 243, 245, 0.705);
    border-radius: 10px;
    border-bottom: #364d79 1px solid;
}

.wrapper {
    text-align: center;
    height: 480px;
    width: 760px;
    position: relative;
    display:block;
}
.wrapper img {
    width:100%;
    height: 350;
    position: relative;
}
.wrapper .wrapper1{
    position: absolute;
    top: 30%;
    right: 25%;
    width: 280px;
    display: none;
}
.wrapper:hover .wrapper1 {
    position: absolute;
    top: 30%;
    right: 20%;
    width: 280px;
    display: block;
}
.User_main{
    background-color: #afdee2;
    background-image: linear-gradient(19deg, #21D4FD 1%, #ffffff 99%, #afdee2 100%);
    padding: 24px;
    text-align: center;
    min-height: 30vh;
    /* style={{ padding: 24, background: '#ccc', textAlign: 'center',minHeight:'30vh'}} */
}

